$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
 text-align: center;
 background: white;
}

h1 {
  color: red;
  font-size: 25px;
  text-align: center;
}

legend {
  font-size: 17px;
}


label {
  font-size: 10px;
  float: left;
}


.password {
  clear: both;
}

.password_confirmation {
  clear: both;
}

.new {
  clear: both;
}


.container {
  background: #fff;
  display: block;
  height: 400px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 400px;
}

.row {
  border-top: 5px solid #000;
  display: block;
  height: 33.3%;
}

.row:first-child {
  border-top: 0;
}

.box {
  color: red;
  font-size: 50px;
  border-left: 5px solid #000;
  display: block;
  float: left;
  height: 100%;
  text-align: center;
  width: 33.3%;
}

.box::before {
  content: '';
  font-size: 5em;
  line-height: 25%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box:hover {
  background-color: #808080;
}

.box:first-child {
  border-left: 0;
}
